@import url(../profile-base/style.css);

/************************** user bar ***************************/

#user a,
#user a strong {
  color: #204A87;
}

/************************** content ***************************/

#content .block-title,
#content .main-block h1, #not-found h1, #access-denied h1 {
  border-bottom:2px solid #204A87;
  color: #204A87;
}

.profile-image-block p {
  color: #204A87;
}

.block a {
  color: #204A87;
}

.block a:visited {
  color: #3465A4;
}

.control-panel a,
.control-panel a:visited {
  color: #000;
}

.controller-profile_editor .control-panel a:hover {
  background-color: #204A87;
  color: #FFF;
}

#content .link-list-block li a:hover {
  background-color: #204A87;
}

#content .link-list-block li a.link-this-page {
  background-color: #3465A4;
  border-right:2px solid #204A87;
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-left: 2px solid #204A87;
}

/************** blog **************/

#content .blog-post .title a:hover {
  color: #204A87;
}

/**************************** Comments *******************************/

#content .comments h3 {
  color: #204A87;
  border-bottom: 2px solid #204A87;
}

.post_comment_box h4 {
  background-color: #204A87;
  color: #FFF;
}

/* * * Footer * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#theme-footer {
  backg   round: #E4E4E4;
  width: auto;
  margin: -5px 0px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

#footer-content {
  background: #EEE;
  margin: -5px auto;
  padding: 30px 20px 20px 20px;
  width: 921px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-size: 14px;
}

#footer-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer-content li {
  margin: 0px;
  padding: 0px 47px;
  display: block;
  float: left;
}

#footer-content li ul {
  padding: 5px 0px;
}

#footer-content li li {
  float: none;
  display: block;
  padding: 5px 0px;
}

#footer-content a {
  color: #003366;
}
#footer-content a:hover {
  color: #333;
  text-decoration: underline;
}

#external-sns a {
  padding-left: 20px;
  background: url(images/icons/icon-twitter.png) 0% 50% no-repeat;
}
#external-sns .facebook a {
  background-image: url(images/icons/icon-facebook.png);
}
#external-sns .flickr a {
  background-image: url(images/icons/icon-flickr.png);
}
#external-sns .youtube a {
  background-image: url(images/icons/icon-youtube.png);
}
#external-sns .vimeo a {
  background-image: url(images/icons/icon-vimeo.png);
}
#external-sns .identica a {
  background-image: url(images/icons/icon-identica.png);
}

#footer-login > input {
  position: relative;
  width: auto;
  display: block;
  margin: 10px 0px;
  padding: 5px 2px;
  border: none;
}

#footer-search input {
  width: 100%;
  padding: 5px 2px;
  border: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

#theme-footer #language-chooser {
  clear: both;
  margin-top: 1.5em;
}
#license-on-footer {
  padding: 170px 48px 0;
  font-size: 11px;
  text-align: left;
  color: #003366;
}

#footer-cc {
  display: block;
  width: 24px;
  height: 24px;
  background: url(images/cc.png);
  float:left;
  margin-right: 5px;
}

#footer-cc span {
  display: none;
}

#powered-by-noosfero {
  font-size: 11px;
  text-align: center;
}

#user { display: none; }
