<div id="top-functions-box">
  <div id="top-functions">
    <div id="conecte-se"></div>
    <ul id="menu-top">
      <li>
        <%= browse_people_menu %>
      </li>
      <li>
        <%= browse_communities_menu %>
      </li>
      <li>
        <%= browse_contents_menu %>
      </li>
    </ul>
  </div>
</div>
