@import url(../base/style.css);

head {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px auto;
  padding: 0px;
}

#wrap-1 {
  position: relative;
  width: auto;
}

#wrap-2 {
  padding-bottom: 0px;
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
}

#navigation,
#navigation-end {
  display: none;
}

#theme-header {
  height: 30px;
}

/************************** user bar ***************************/

#user {
  top: -23px;
  right: 0px;
  height: 20px;
}

/************************** navigation ***************************/

#navigation {
  background: none;
}

/************************** content ***************************/

#navigation {
  background: url(images/dots.png);
  right: 0;
  text-align: right;
  top: 162px;
  width: 100%;
  height: 3px;
}

#navigation-end {
  display: none;
}

#wrap-2 {
  margin: 20px auto 0px auto;
  width: 941px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
}

#content {
  margin-top: 64px;
  border-top: 2px solid #360;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8,
.blog-post {
  background: none;
}

#boxes {
  margin-top: 20px;
}

#profile-header {
  margin: -10px;
  margin-bottom: 0px;
  width: 958px;
  max-width: none;
  max-height: none;
}

#profile-footer {
  margin-left: -10px;
  width: 958px;
  max-width: none;
}

.template-rightbar #content .link-list-block li a.link-this-page,
#content .box-3 .link-list-block li a.link-this-page {
  border-right: none;
  margin-left: -5px;
  margin-right: 0px;
  max-width: 170px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
}

/************** articles **************/

#content .blog-posts {
  margin-top: 30px;
}

#article .blog-feed-link {
  position: absolute;
  right: 0px;
  top: 28px;
}

#article-tags {
  margin-right: 30px;
}

#article-parent {
  display: block;
}
/************** environment bar **************/

#site-title {
  position: absolute;
  left: 10px;
  top: -27px;
  height: 40px;
  width: 264px;
}

#site-title a {
  display: block !important;
  top: 55px;
  left: 20px;
}

#assets-menu {
  display: none;
  position: absolute;
  top: 26px;
  left: 56px;
  min-width: 140px;
  z-index: 10;
  border: 1px solid #D3D7CF;
  border-top: none;
  background: #EEE;
  padding: 0px 4px 6px 4px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius-bottomleft: 10px;
  border-radius-bottomright: 10px;
}

#assets-menu ul,
#assets-menu li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#assets-menu a {
  text-decoration: none;
  display: block;
  padding: 2px 4px 2px 8px;
  color: #555;
  border: 1px solid #EEE;
}

#assets-menu a:hover {
  background: #FBFBFB;
  border: 1px solid #F6F6F6;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/**************************** Comments *******************************/

.post_comment_box.closed h4 {
  border: none;
}

/************************** theme footer ***************************/

#theme-footer {
  backg   round: #E4E4E4;
  width: auto;
  margin: -5px 0px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

#footer-content {
  background: #EEE;
  margin: -5px auto;
  padding: 30px 20px 20px 20px;
  width: 921px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-size: 14px;
  text-align: right;
}

#footer-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer-content li {
  margin: 0px;
  padding: 0px 47px;
  display: block;
  float: left;
}

#footer-content li ul {
  padding: 5px 0px;
}

#footer-content li li {
  float: none;
  display: block;
  padding: 5px 0px;
}

#footer-content a {
  color: #003366;
}
#footer-content a:hover {
  color: #333;
  text-decoration: underline;
}

#external-sns a {
  padding-left: 20px;
  background: url(images/icons/icon-twitter.png) 0% 50% no-repeat;
}
#external-sns .facebook a {
  background-image: url(images/icons/icon-facebook.png);
}
#external-sns .flickr a {
  background-image: url(images/icons/icon-flickr.png);
}
#external-sns .youtube a {
  background-image: url(images/icons/icon-youtube.png);
}
#external-sns .vimeo a {
  background-image: url(images/icons/icon-vimeo.png);
}
#external-sns .identica a {
  background-image: url(images/icons/icon-identica.png);
}

#footer-login > input {
  position: relative;
  width: auto;
  display: block;
  margin: 10px 0px;
  padding: 5px 2px;
  border: none;
}

#footer-search input {
  width: 100%;
  padding: 5px 2px;
  border: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

/* BETA - INICIO */

#site-title {
  overflow: visible;
}

#beta {
  width: 98px;
  height: 98px;
  position: absolute;
  top: -48px;
  left: -25px;
}

#beta span {
  display: none;
}

/* BETA - FINAL */


#site-title {
  width: 343px;
  height: 72px;
  left: 25px;
  top: -57px;
  z-index: 100;
}

#site-title a:first-child {
  display: block;
  width: 343px;
  height: 38px;
  background: url(images/logo.png);
  background-repeat: no-repeat;
}

#site-title a:last-child{
  margin-top: 25px;
}

#site-title span {
  display:
}

/* * * Controles do topo * * * * * * * * * * * * * * * * * * * * * * * * * */

#theme-header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
  height: 0px;
}

#wrap-2 #user {
  display: none !important;
}


#top-functions-box {
  margin: auto;
  color: #FFF;
  font-size: 13px;
}

#top-functions-box a {
  color: #FFF;
}

#top-functions-box a:hover {
  text-shadow: 0 0 4px #FFF;
}

#top-functions {
  float: right;
  background: #006633;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  height: 32px;
  margin-top: -20px;
}

#top-functions span {
  font-weight: bold;
}

.logged-in #top-functions {
  padding-left: 6px;
}

#conecte-se {
  display:inline-block;
  position: relative;
  right: 0px;
  top: -7px;
}
#conecte-se a {
  text-decoration: none;
}

#conecte-se .signup,
#conecte-se .or {
  display: none;
}

#user {
  display: inline-block;
  position: static;
  color: rgba(255,255,255,0.4);
  border-left: 1px dotted #959491;
  padding-left: 6px;
  margin-left: 11px;
}

.logged-in #user {
  border-left: none;
  padding-left: 0;
}

.logged-in .label-conect {
  display: none;
}

#user a {
  text-decoration: none;
}

#user .not-logged-in a {
  background: url(images/icons/ok-smal.png) no-repeat 0% 50%;
  padding-left: 15px;
  margin: 0px 3px;
}

#user .not-logged-in a i {
  display: none;
}

#user a strong {
  color: #D8D4D0;
}
#user a:hover strong {
  color: #FFF;
}

#user form div {
  display: none;
}

#top-search{
  float: right;
  margin-top: 74px;
}

#top-search input {
  background: #F3F2F1;
  border: 1px solid #A09890;
  padding: 7px 0px 7px 3px;
  width: 186px;
}

#top-search div{
  display: none;
}

#top-search:hover div{
  display: block;
}

#top-search div {
  color: #000;
  background: #FFF;
  font-size: 11px;
  position: relative;
  display: none;
  bottom: -5px;
  left: 0px;
}

#menu-top {
  display:inline-block;
  margin: 8px 0px 0px -5px;
  padding: 0px;
}

#menu-top li {
  list-style: none;
  display: block;
  height: auto;
  /* width: 125px; */
  float: left;
  text-align: center;
  position: relative;
  margin-right: 20px;
}

#menu-top li:last-child {
  margin-right: 0;
}

#menu-top a {
  display: block;
  /* line-height: 42px; */
  text-decoration: none;
  font-weight: bold;
}


#menu-top .menu-submenu ul, #menu-top .menu-submenu li {
  float: none;
  text-align: right;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#menu-top .menu-submenu {
  bottom: -75px;
  width: auto;
  min-width: 100%;
  top: 32px;
  right: -10px;
  position: absolute;
}

#menu-top .menu-submenu ul {
  border-top: 0px;
  background: #006633;
  /*background-image: -webkit-linear-gradient(bottom, #564F47, #736D64);
  background-image:    -moz-linear-gradient(bottom, #564F47, #736D64 90%);
  background-image:     -ms-linear-gradient(bottom, #564F47, #736D64);
  background-image:      -o-linear-gradient(bottom, #564F47, #736D64);
  background-image:         linear-gradient(bottom, #564F47, #736D64);*/
  padding: 0px 3px 4px 0px;
  height: auto;
  display: block;
}

#menu-top .menu-submenu a {
  padding: 4px 5px;
  font-size: 11px;
  line-height: normal;
  white-space: nowrap;
}

#menu-top .menu-submenu-trigger {
  background: #B8B4B0 url(/images/down-arrow.png) center center no-repeat;
  opacity: 0.5;
  display: none;
  height: 11px;
  top: 21px;
  left: 0;
  width: 100%;
  outline: none;
  border: none;
}
#menu-top li:hover .menu-submenu-trigger:hover {
  background: #FFF url(/images/down-arrow.png) center center no-repeat;
  border: none;
}

#menu-top li:hover .menu-submenu-trigger {
  display: block;
}

#menu-top .menu-submenu-header, #menu-top .menu-submenu-footer, #menu-top .menu-submenu h4 {
  display: none;
}

#menu-top span.icon-menu-people {
  background-image: url(images/icons/persons.png);
}
#menu-top span.icon-menu-community {
  background-image: url(images/icons/gear.png);
}
#menu-top #submenu-contents span {
  background-image: url(images/icons/icone-08.png);
}
#conecte-se span.label-conect {
  display: none;
  background-image: url(images/icons/icone-blogoosfero.png);
}


/* * * fim dos Controles do topo * * * * * * * * * * * * * * * * * * * * * */
