<div id="barra-brasil"></div>

<div id="top-functions-box">
  <div id="top-functions">
    <ul id="menu-top">
      <li>
        <%= browse_people_menu %>
      </li>
      <li>
        <%= browse_communities_menu %>
      </li>
      <li>
        <%= browse_contents_menu %>
      </li>
      <li>
        <a href="/search/events"><span class="icon-menu-events"><%=_('Events')%></span></a>
      </li>
    </ul>
  </div>
</div>
